<!doctype html>
<html lang="en">
<head>
    <partial name="Partial/_Head.cshtml"/>
</head>
<body>
<header class="site-header @(ViewBag.HasImage == null || !ViewBag.HasImage ? "site-header-dark" : "")">
    <vc:navbar></vc:navbar>
</header> 
@RenderBody()
<vc:footer></vc:footer>
<partial name="Partial/_Scripts.cshtml"/>
</body>
</html>