[submodule "NidamTech.Services"]
	path = NidamTech.Services
	url = https://NidamTech@dev.azure.com/NidamTech/NidamTech/_git/NidamTech.Services
[submodule "NidamTech.Web"]
	path = NidamTech.Web
	url = https://NidamTech@dev.azure.com/NidamTech/NidamTech/_git/NidamTech.Web
