@keyframes fadeInFromTop {
  0% {
    top: 0%;
    opacity: 0;
  }
  100% {
    top: 20%;
    opacity: 1;
    animation-timing-function: ease-out;
  }
}

.heading {
  min-height: 500px;
  color: black;
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  background-position: center center;

  .container {
    text-align: center;
    position: relative;
    animation-name: fadeInFromTop;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1s;

    h1 {
      font-weight: 100;
    }
  }
}