@using Piranha
<footer class="footer-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center">
                <span class="icon-handle-streamline-vector logo"></span>
                @*TODO:footerText*@
                <h2>footerText</h2>
                @*TODO:@if(twitter){} + link*@
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                @*TODO:@if(facebook){} + link*@
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-small text-center">
                <hr>
                @*TODO:buttonText*@
                <button type="button" class="btn btn-primary btn-lg">Up</button>
                @*TODO:siteOwnerName*@
                <p class="no-margin">© Alette Søgaard</p>
            </div>
        </div>
    </div>
</footer>