@using nidam_sites.Models
@using Piranha.Models
@inject Piranha.IApi Api;

@{
    var siteAppearance = Api.Sites.GetContentById<DefaultSite>(WebApp.Site.Id).Appearance;
    string selectedTheme;
    if (string.IsNullOrEmpty(siteAppearance.SelectedTheme.EnumValue))
    {
        selectedTheme = "~/css/default-theme.min.css";
    }
    else
    {
        selectedTheme = "~/css/" + siteAppearance.SelectedTheme.EnumValue + "-theme.min.css";
    }
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous">
<link rel="stylesheet" href="~/css/style.min.css" asp-append-version="true">
@* TODO: @selectedSiteTheme *@
<link rel="stylesheet" href=@selectedTheme
      asp-append-version="true"/>
<title>@ViewBag.Title</title>
@if (Model is IMeta)
{
    <partial name="_Meta.cshtml"/>
}