@{
    var sitemap = WebApp.Site.Sitemap;
}

<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top'">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <div class="navbar-logo">
                @*Missing*@
            </div>
        </a>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                @foreach (var item in sitemap)
                {
                    <li class="nav-item @(item.Id == WebApp.PageId ? "active" : "")">
                        <a class="nav-link" href="@item.Permalink">
                            <span>@item.MenuTitle</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>