@model sundhedmedalette.Models.Blocks.HeroImageBlock
<div class="jumbotron jumbotron-fluid hero full-width" style="background-image: url('.@Url.Content(Model.BackgroundImage)'); height: @(Model.SizeInPercentage.Value)vh">
    <div class="container">
        <h1 class="display-4">@Model.Title</h1>
        <p>@Model.Subtitle</p>
    </div>
</div>