/* Small devices (landscape phones, 576px and up) */
@include media-breakpoint-up(sm) {
  h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-3, .display-4 {
    font-size: 125%;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@include media-breakpoint-up(md) {
  h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-3, .display-4 {
    font-size: 150%;
  }
}

/* Large devices (desktops, 992px and up) */
@include media-breakpoint-up(lg) {
  h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-3, .display-4 {
    font-size: 175%;
  }
}


/* Extra large devices (large desktops, 1200px and up) */
@include media-breakpoint-up(xl) {
  h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-3, .display-4 {
    font-size: 200%;
  }
}