/* Small devices (landscape phones, 576px and up) */
@include media-breakpoint-up(sm) {
  .display-1 {
    font-size: 6.25rem;
  }
  .display-2 {
    font-size: 5.75rem;
  }
  .display-3 {
    font-size: 4.75rem;
  }
  .display-4 {
    font-size: 3.75rem;
  }
  h1 {
    font-size: 2.75rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.75rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1.25rem;
  }
  p {
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@include media-breakpoint-up(md) {
  .display-1 {
    font-size: 6.5rem;
  }
  .display-2 {
    font-size: 6rem;
  }
  .display-3 {
    font-size: 5rem;
  }
  .display-4 {
    font-size: 4rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2.25rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.75rem;
  }
  h6 {
    font-size: 1.5rem;
  }
  p {
  }
}

/* Large devices (desktops, 992px and up) */
@include media-breakpoint-up(lg) {
  .display-1 {
    font-size: 6.75rem;
  }
  .display-2 {
    font-size: 6.25rem;
  }
  .display-3 {
    font-size: 5.25rem;
  }
  .display-4 {
    font-size: 4.25rem;
  }
  h1 {
    font-size: 3.25rem;
  }
  h2 {
    font-size: 2.75rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2.25rem;
  }
  h5 {
    font-size: 2rem;
  }
  h6 {
    font-size: 1.75rem;
  }
  p {
  }
}


/* Extra large devices (large desktops, 1200px and up) */
@include media-breakpoint-up(xl) {
  .display-1 {
    font-size: 7rem;
  }
  .display-2 {
    font-size: 6.5rem;
  }
  .display-3 {
    font-size: 5.5rem;
  }
  .display-4 {
    font-size: 4.5rem;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.75rem;
  }
  h4 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 2.25rem;
  }
  h6 {
    font-size: 2rem;
  }
  p {
  }
}