@model NidamTech.RazorWeb.Models.Blocks.SliderBlock
<div class="jumbotron jumbotron-fluid slider full-width" style="height: @(Model.SizeInPercentage.Value)vh">
    <div class="container">
        <h1 class="display-4">@Model.Title</h1>
        <p>@Model.Subtitle</p>
    </div>
</div>