@using Piranha.Models
@using NidamTech.RazorWeb.Models.Regions.SiteRegions
@using NidamTech.RazorWeb.Models.Sites
@{
    string selectedTheme = "";
    if (WebApp.Api.Sites.GetContentByIdAsync<DefaultSite>(WebApp.Site.Id).Result != null)
    {
        SiteAppearance siteAppearance = WebApp.Api.Sites.GetContentByIdAsync<DefaultSite>(WebApp.Site.Id).Result.Appearance;
        if (!string.IsNullOrEmpty(siteAppearance.SelectedTheme.EnumValue))
        {
            selectedTheme = siteAppearance.SelectedTheme.EnumValue;
        }
    }
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @if (Model is IMeta)
    {
        @await Html.PartialAsync("Partial/_Meta")
    }
    @await Html.PartialAsync("Partial/_Script.cshtml", "main");
</head>
@await Html.PartialAsync("Partial/_Header")
<body id=@selectedTheme>
@RenderBody()
@await Html.PartialAsync("Partial/_Footer")
@await Html.PartialAsync("Partial/_Loader")
</body>
</html>