@using Piranha.Models
@using NidamTech.RazorWeb.Models.Regions.SiteRegions
@using NidamTech.RazorWeb.Models.Sites
@{
    string selectedTheme = "";
    if (WebApp.Api.Sites.GetContentByIdAsync<DefaultSite>(WebApp.Site.Id).Result != null)
    {
        SiteAppearance siteAppearance = WebApp.Api.Sites.GetContentByIdAsync<DefaultSite>(WebApp.Site.Id).Result.Appearance;
        if (!string.IsNullOrEmpty(siteAppearance.SelectedTheme.EnumValue))
        {
            selectedTheme = siteAppearance.SelectedTheme.EnumValue;
        }
    }
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @if (Model is IMeta)
    {
        <partial name="Partial/_Meta.cshtml"/>
    }
    <script src="main.js"></script>
</head>
<partial name="Partial/_Header.cshtml"/>
<body id=@selectedTheme>
@RenderBody()
<partial name="Partial/_Footer.cshtml"/>
<partial name="Partial/_Preloader.cshtml"/>
<partial name="Partial/_Dimmer.cshtml"/>
</body>
</html>