.navbar {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

  .navbar-brand {
    width: 60px;
  }

  .nav-item.active span {
    padding-bottom: 5px;
    border-bottom: 2px solid black;
  }
}