<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/39614d2e-d48a-4a1e-8aa2-a55ba2bb4853/resourceGroups/nidam-corp/providers/Microsoft.Web/sites/nidam-corp</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://nidam-corp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>nidam-corp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>nidam-corp</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$nidam-corp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>