@page
@model StandardPageModel
@{
    ViewBag.Title = Model.Data.Title;
}

<div class="main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10 page-body">
                <h1>@Model.Data.Title</h1>
                @Html.DisplayFor(m => m.Data.Blocks)
            </div>
        </div>
    </div>
</div>