<!doctype html>
<html lang="en">
<head>
    <vc:head></vc:head>
</head>
<body>
<header class="site-header @(ViewBag.HasImage == null || !ViewBag.HasImage ? "site-header-dark" : "")">
    <vc:navbar></vc:navbar>
</header>
@RenderBody()
<vc:footer></vc:footer>
<vc:scripts></vc:scripts>
</body>
</html>