@using NidamTech.RazorWeb.Models.Regions.SiteRegions
@using NidamTech.RazorWeb.Models.Sites
@{
    SiteAppearance siteAppearance = null;
    if (WebApp.Api.Sites.GetContentByIdAsync<DefaultSite>(WebApp.Site.Id).Result != null)
    {
        siteAppearance = WebApp.Api.Sites.GetContentByIdAsync<DefaultSite>(WebApp.Site.Id).Result.Appearance;
    }
}
<div class="dimmer active" style="background: @(siteAppearance != null && siteAppearance.DarkMode ? "black" : "white")"></div>
