@using NidamTech.RazorWeb.Models.Regions.SiteRegions
@using NidamTech.RazorWeb.Models.Sites
@{
    
    SiteFooter siteFooter = null;
    SiteInfo siteInfo = null;
    if (WebApp.Api.Sites.GetContentByIdAsync<DefaultSite>(WebApp.Site.Id).Result != null)
    {
        siteFooter = WebApp.Api.Sites.GetContentByIdAsync<DefaultSite>(WebApp.Site.Id).Result.Footer;
        siteInfo = WebApp.Api.Sites.GetContentByIdAsync<DefaultSite>(WebApp.Site.Id).Result.Info;
    }
}

<footer class="footer-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center">
                <span class="icon-handle-streamline-vector logo"></span>

                <h2>@(siteFooter != null && !string.IsNullOrEmpty(siteFooter.Title.Value) ? siteFooter.Title.Value : "Title Missing")</h2>

                @if (siteFooter != null && !string.IsNullOrEmpty(siteFooter.TwitterLink.Value))
                {
                    <a href=@siteFooter.TwitterLink.Value>
                        <i class="fab fa-twitter"></i>
                    </a>
                }

                @if (siteFooter != null && !string.IsNullOrEmpty(siteFooter.FacebookLink.Value))
                {
                    <a href=@siteFooter.FacebookLink.Value>
                        <i class="fab fa-facebook-f"></i>
                    </a>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-small text-center">
                <hr>
                <button type="button" class="btn btn-primary btn-lg">Up</button>
                @if (siteInfo != null && !string.IsNullOrEmpty(siteInfo.SiteOwnerName.Value))
                {
                    <p class="no-margin">© @siteInfo.SiteOwnerName.Value</p>
                }

            </div>
        </div>
    </div>
</footer>